@import url("variables.css");

* {
  box-sizing: border-box;
  background-color: var(--color-cream);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
}

.product {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.desktop__img {
  display: none;
}
.mobile__img {
  display: block;
}

@media (min-width: 600px) {
  .desktop__img {
    display: block;
  }
  .mobile__img {
    display: none;
  }
}
