@import url("variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-cream);
  min-height: 100vh;
  line-height: 1.6;
}

.container {
  margin: 2rem 1rem;
  max-width: 30rem;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.product__img {
  flex: 1;
}

.product__img img {
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  display: block;
}

.product__content {
  padding: 1.5rem;
  text-align: left;
}

.product__category {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  color: var(--color-grey);
  margin-bottom: 0.5rem;
}

.product__name {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  margin: 0.5rem 0;
  color: var(--color-black);
  font-family: var(--font-serif);
  line-height: 1.2;
}

.product__description {
  font-size: 0.9rem;
  color: var(--color-grey);
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.product__pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.product__price {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-green-500);
  font-family: var(--font-serif);
}

.product__strikeprice {
  text-decoration: line-through;
  color: var(--color-grey);
  font-size: 0.9rem;
}

.product__button {
  background-color: var(--color-green-500);
  color: var(--color-white);
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  cursor: pointer;
}

.product__button:hover {
  background-color: var(--color-green-700);
}

.desktop__img {
  display: none;
}
.mobile__img {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 35rem) {
  .container {
    margin: 4rem auto;
    max-width: 40rem;
  }

  .product {
    flex-direction: row;
    max-width: 50rem;
  }

  .desktop__img {
    display: block;
  }

  .mobile__img {
    display: none;
  }

  .product__img img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .product__img {
    flex: 1;
  }

  .product__content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product__img,
  .product__content {
    flex: 1;
  }
}
